html, body {
    height: 100%;
}

#map {
    position: absolute;
    left: 0;
    right: 0;
    top: 56px;
    bottom: 32px;
}

main {
    position: absolute;
    left: 0;
    right: 0;
    top: 56px;
    bottom: 32px;
    overflow-y: scroll;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 32px;
}

main > .container {
    padding-top: 15px;
}

h2 {
    font-size: 14pt;
}

@media (min-width: 768px) {
    .sidebar {
        top: 64px;
        bottom: 40px;
    }
}
@media (max-width: 767px) {
    .sidebar {
        top: 56px;
        bottom: 32px;
    }
}

.sidebar-tabs > li > a > i {
    line-height: 40px;
}

.hidden {
     display: none;
}

.cache {
    cursor: hand;
}

.status-available > span {
  text-decoration: none; }

.status-unavailable > span {
  text-decoration: line-through; }

.status-archived > span {
  text-decoration: line-through; }

.title {
  font-weight: bold; }

.details {
  display: none;
  text-align: center;
  padding: 4px; }

.shortdescription {
  font-style: italic; }

.previewimage {
  margin-bottom: 2px; }

.logimages {
  padding: 4px 6px;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.logimages > a {
    width: 115px;
    height: 115px;
    margin-right: 2px;
    margin-bottom: 2px;
    display: inline-block;
    text-align: center;
}

.logimages > a > img {
    vertical-align: middle; }

.sidebar-close > i {
    line-height: 40px;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

@media (max-width: 767px) {
    .only-small {
        display: inherit !important;
    }
    .only-large {
        display: none !important;
    }
}
@media (min-width: 768px) {
    .only-small {
        display: none !important;
    }
    .only-large {
        display: inherit !important;
    }
}
