RewriteEngine on

# 2 HOURS
<filesMatch "\.(html|php|js)$">
    Header set Cache-Control "max-age=7200, must-revalidate"
</filesMatch>

<filesMatch ".(jpg)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

# force ssl
RewriteCond     %{SERVER_PORT} ^80$
RewriteRule     ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

RewriteBase /
RewriteRule ^([Oo][Cc].*)$ index.html?id=$1
